<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        button {
            padding: 20px 30px;
            font-size: 64px;
            cursor: pointer;
            background: white;
            border: 5px solid black;
            width: calc(100% - 20px);
        }
    </style>
</head>
<body>
<script>
    const url = '/upload/image/';

    let ctx;
    let audio;

    let imageCapture;

    const canvas = document.createElement('canvas');
    const ctx2 = canvas.getContext('2d');
    const constraints = {
        video: {
            facingMode: 'environment'
        }
    };
    navigator.mediaDevices.getUserMedia(constraints)
        .then(stream => {
            const track = stream.getVideoTracks()[0];
            imageCapture = new ImageCapture(track);
        })

    function uploadImage() {
        if (!ctx) {
            ctx = new AudioContext();
        }
        if (!imageCapture) {
            alert('No camera available');
            return;
        }
        imageCapture.grabFrame().then(imageBitmap => {
            canvas.width = imageBitmap.width;
            canvas.height = imageBitmap.height;
            ctx2.drawImage(imageBitmap, 0, 0, canvas.width, canvas.height);
            canvas.toBlob(blob => {
                const formData = new FormData();
                formData.append('image', blob);
                fetch(url, {
                    method: 'POST',
                    body: formData
                }).then(response => {
                    return response.arrayBuffer()
                })
                    .then(arrayBuffer => ctx.decodeAudioData(arrayBuffer))
                    .then(decodedAudio => {
                        audio = decodedAudio;
                        const source = ctx.createBufferSource();
                        source.buffer = audio;
                        source.connect(ctx.destination);
                        source.start();
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
            });
        });
    }
</script>
<button onclick="uploadImage()">Upload Image</button>
</body>
</html>